<div id='list-drones' class='container'>

  {{#each foundDrones}}
    <div class='list-item'>

      <h3>{{name}}</h3>
      <p>No. of propellers: {{propellers}}</p>
      <p>Max Speed: {{maxSpeed}}</p>

      <a class='btn btn-secondary' href='/drones/{{_id}}/edit'>Edit</a>
      <form action='/drones/{{_id}}/delete' method='POST'>
        <button class='btn btn-danger' type='submit'>Delete</button>
      </form>
    </div>
  {{/each}}

</div>